<?xml version="1.0" encoding="utf-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="config.xsd">

  <width>512</width>
  <height>512</height>
  <output_directory>./dist</output_directory>

  <mandelbrot>
    <x_min>-2.2</x_min>
    <x_max>0.8</x_max>
    <y_min>-1.5</y_min>
    <y_max>1.5</y_max>
    <threshold>20</threshold>
    <max_iterations>100</max_iterations>
    <color_hue>0</color_hue>
    <output_file>mandelbrot.png</output_file>
  </mandelbrot>

  <julia>
    <x_min>-1.5</x_min>
    <x_max>1.5</x_max>
    <y_min>-1.5</y_min>
    <y_max>1.5</y_max>
    <cx>-0.4</cx>
    <cy>0.6</cy>
    <threshold>70</threshold>
    <max_iterations>250</max_iterations>
    <color_hue>100</color_hue>
    <output_file>julia.png</output_file>
  </julia>

  <tricorn>
    <x_min>-2.3</x_min>
    <x_max>1.7</x_max>
    <y_min>-2.0</y_min>
    <y_max>2.0</y_max>
    <threshold>300</threshold>
    <max_iterations>700</max_iterations>
    <color_hue>200</color_hue>
    <output_file>tricorn.png</output_file>
  </tricorn>

  <burning_ship>
    <x_min>-1.8</x_min>
    <x_max>-1.7</x_max>
    <y_min>-0.1</y_min>
    <y_max>0.02</y_max>
    <threshold>20</threshold>
    <max_iterations>35</max_iterations>
    <color_hue>170</color_hue>
    <output_file>burning_ship.png</output_file>
  </burning_ship>

  <barnsley_fern>
    <size_x>10.0</size_x>
    <size_y>95.0</size_y>
    <start_x>48.0</start_x>
    <start_y>0.0</start_y>
    <zoom>90.0</zoom>
    <max_iterations>300000</max_iterations>
    <color_hue>240</color_hue>
    <background_color_hex>ffffff</background_color_hex>
    <output_file>barnsley_fern.png</output_file>
  </barnsley_fern>

</config>
